/* LAYOUT */

main {
  margin-top: 90px;
  padding: 40px;
  min-height: 50%;
}

footer {
  text-align: left;
}

/* FORMS */
label {
  display: block;
}

.form-ctrl {
  height: 28px;
  padding-left: 3px;
  width: 300px;
}

.buttons {
  width: 300px;
  text-align: right;
}

.buttons button {
  margin-left: 10px;
}
