<!-- <div ng-include src="'partials/shared/error-message.html'" ng-show="showErrorAlert"></div> -->
<p>resourceowner@example.com</p>
<div class="col-md-6 col-md-offset-3 panel panel-default form-panel">
  <div class="panel-heading">
    <h2 class="panel-title">Logga in</h2>
  </div>
  <div class="panel-body">
    <form name="loginForm">
      <div class="form-group" ng-class="{'has-error':loginForm.email.$invalid && loginForm.email.$touched}">
        <label for="email">E-post</label>
        <input class="form-control" type="email" ng-model="owner.email" name="email" required">
        <span class="help-block" ng-show="loginForm.email.$error.email && loginForm.email.$touched">E-postadress är ogiltig.</span>
        <span class="help-block" ng-show="loginForm.email.$error.required && loginForm.email.$touched">Du måste ange en mailadress.</span>
      </div>
      <div class="form-group" ng-class="{'has-error':loginForm.password.$invalid && loginForm.password.$touched}">
        <label for="password">Lösenord</label>
        <input class="form-control" type="password" name="password" ng-model="owner.password" required>
        <span class="help-block" ng-show="loginForm.password.$invalid && loginForm.password.$touched">Du måste ange ett lösenord.</span>
      </div>
      <div class="button-group">
        <a href="/">Avbryt</a>
        <button class="btn btn-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Logga in</button>
      </div>
    </form>
  </div>
</div>
