<div class="alert alert-danger" ng-show="showErrorAlert">
   <button type="button" class="close" data-ng-click="switchBool('showErrorAlert')" >×</button>
   {{errorTextAlert}}
</div>

<p>resourceowner@example.com</p>
<div class="col-md-6 col-md-offset-3 panel panel-default login-panel">
  <div class="panel-heading">
    <h2 class="panel-title">Logga in</h2>
  </div>
  <div class="panel-body">
    <form name="loginForm">
        <div class="form-group">
          <label for="email">E-post</label>
          <input class="form-ctrl" type="text" ng-model="owner.email">
        </div>
        <div class="form-group">
          <label for="password">Lösenord</label>
          <input class="form-ctrl" type="password" ng-model="owner.password" required>
        </div>
        <div class="button-group">
          <a href="/">Avbryt</a>
          <button class="btn btn-primary" ng-click="login()" ng-disabled="loginForm.$invalid">Logga in</button>
        </div>
    </form>
  </div>
</div>
