<div class="col-md-12">
  <form class="panel panel-default form-inline">
    <div class="panel-body form-group">
      <label for="search">Sök på lopp: </label>
      <input class="form-control" name="search" type="search" ng-model="q" auto-focus>
      <button class="btn btn-primary" ng-click="search()">Sök</button>
      <button class="btn btn-default" ng-click="reset()">Återställ</button>
    </div>
  </form>
  <div class="tag-list panel panel-default">
    <div class="panel-body">
      <div class="tag-div" ng-repeat="tag in races.tags">
        <label>
          <input type="checkbox" checklist-model="selectedTags" checklist-value="tag.name" checklist-change="checkboxHasChanged()">{{tag.name}}
        </label>
      </div>
    </div>
  </div>
  <div class="table-container panel panel-default">
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
              <th>Namn</th>
              <th>Distans</th>
              <th>Organisatör</th>
              <th>Ort</th>
              <th>Datum</th>
              <th>Taggar</th>
              <th></th>
          </tr>
        </thead>
          <tbody>
              <tr data-ng-repeat="race in races">
                  <td>{{ race.name }}</td>
                  <td>{{ race.distance }} km</td>
                  <td>{{ race.organiser }}</td>
                  <td>{{ race.city }}</td>
                  <td>{{ race.date }}</td>
                  <td>
                    <ul class="list-inline">
                      <li data-ng-repeat="tag in race.tag_list"><span class="badge">{{tag}}</span></li>
                    </ul>
                  </td>
                  <td><a href="{{race.self_path}}">Info</a></td>
              </tr>
          </tbody>
      </table>
      <img class="loader" ng-hide="loaded" src="../assets/images/ajax-loader.gif" alt="Loader" />
    </div>
  </div>
  <div class="row pagination">
    <button class="btn btn-default btn-sm" ng-disabled="races.previous_offset === undefined"
      ng-click=previous()><< Tillbaka</button>
    <button class="btn btn-default btn-sm" ng-disabled="races.next_offset === undefined"
      ng-click=next()>Nästa >></button>
  </div>
</div>
