<nav ng-controller="authController" class="navbar navbar-default">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Svenska löpartävlingar</a>
    <a ng-if="!isLoggedIn()" href="/login" class="btn btn-default navbar-btn pull-right">Logga in</a>
    <a href="#" ng-click="logout()" ng-if="isLoggedIn()" class="btn btn-default navbar-btn pull-right">Logga ut</a>
    <a href="/new" ng-if="isLoggedIn()" class="btn btn-default navbar-btn pull-right">Lägg till nytt lopp</a>
    <a href="/new" class="btn btn-default navbar-btn pull-right">Lägg till nytt lopp</a>
  </div>
</nav>
